.link{
   font-weight: 700;
   padding: 21px;
   display: inline-block;
}
.logo{
 float:right;
 /*estoayuda a que la imagen se posicione a la derecha*/
}
header{
  /*hacemos fijo a nuestro menu*/
  /*fixed posiciona elemento de formarelativa al navegador*/
  position: fixed;background: white;
  width: 100%;
  top: 0;
}
.menu{
  padding: 14px 70px;
  overflow: auto;
  /*overflow controla comportamiento de contenidos
  que no caben en su contenedor*/
}
#home{
  background-image:url(../img/bg-home.jpg);/*imagen portada*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;/*cubre todo el contenedor*/
  height: 554px;
  text-align: center;
  margin-top: 80px;

}
#home.container{
  color:white;
  padding: 70px;
}
.text-home{
  font-size: 53px;
}
.btn-home{
  background: #2ECC71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display:inline-block;
  font-size: 14px;
}
#services{
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 70px 7px
}

.box-services{
  display:inline-block;
  width: 30%;
  margin-top: 63px;
}

.text-services {
  font-size: 35px;
  letter-spacing: 2px;
}
.work-img{
margin-left: 100px;
}

.box-work{
    float: left;
    margin-left: 120px;
}
.box-work > img {
  width:200px;
  height: 200px;
}

.modal{
  display: none;
  position: fixed;
  padding: 70px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background:grey;
  z-index: 1;

}
#contenedor{
  margin: auto;
  display: block;
  width: 50%;
  border: 10px solid white;
  border-radius: 5px;
  position: relative;
}
.botoncerrar{
  position:absolute;
  left:1000px;
  top: 0px;
  right: 400px;
  color:#F17C72;
  font-size: 50px;
  font-weight:bold;
  z-index: 2;

footer{
text-align: cente;
background-color:gray;
padding: 2px;
height: 50px;
color: #F17C72;
}
